/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

.tabrow {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 26px;
    line-height: 24px;
    overflow: hidden;
    font-size: 15px;
    font-family: verdana;
    position: relative;
    background: rgba(102, 174, 234, 0.7);
    z-index: 5;
}
.tabrow li {
    color: #000;
    cursor: pointer;
    border: 1px solid #23466a;
    background: #23466a;
    background: -o-linear-gradient(top, #13366a, #66aeea);
    background: -ms-linear-gradient(top, #13366a, #66aeea);
    background: -moz-linear-gradient(top, #13366a, #66aeea);
    background: -webkit-linear-gradient(top, #13366a, #66aeea);
    background: linear-gradient(top, #13366a, #66aeea);
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0 -5px;
    padding: 0 20px;
}
.tabrow li:hover {
    color: #fff;
}
.tabrow a {
    position: relative;
    text-decoration: none;
}
.tabrow li.selected {
    background: -webkit-linear-gradient(top, #66aeea, #23466a);
    background: -ms-linear-gradient(top, #66aeea, #23466a 95%);
    background: -o-linear-gradient(top, #66aeea, #23466a);
    background: -moz-linear-gradient(top, #66aeea, #23466a);
    background: linear-gradient(top, #66aeea, #23466a);
    color: #fff;
    z-index: 2;
    border-bottom-color: #23466a;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #23466a;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #23466a;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #66aeea;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #66aeea;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #23466a;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #23466a;
}

#product.dropdown {
    list-style: none;
    padding-top: 5px;
    margin-top: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    margin-left: 29%;
    border-left: 1px solid #23466a;
    border-right: 1px solid #23466a;
    border-bottom: 1px solid #23466a;
    z-index: 4;
    background: #23466a;
    background: -o-linear-gradient(top, #66aeea #13366a);
    background: -ms-linear-gradient(top, #66aeea, #13366a);
    background: -moz-linear-gradient(top, #66aeea, #13366a);
    background: -webkit-linear-gradient(top, #66aeea, #13366a);
    background: linear-gradient(top, #66aeea, #13366a);
    box-shadow: 1px 1px 2px 0 #222; 
    clear: both;
}

#product.dropdown:after {
    position: absolute;
    left: 42%;
    top: -20px;
    content: " ";
    border: 10px solid #66aeea;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#product.dropdown a {
    margin: 10px;
    line-height: 30px;
}

#product.dropdown li {
    cursor: pointer;
    color: #CCC;
}
#product.dropdown li:hover {
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px white inset;
}